.venv/
stimulus_generation/src/__pycache__/*
stimulus_generation/tests/__pycache__/*
stimulus_generation/tests/__pycache__/__init__.*
stimulus_generation/src/__pycache__/shine.cpython-310.pyc
stimulus_generation/src/__pycache__/align.cpython-310.pyc
stimulus_generation/src/__pycache__/io_utils.cpython-310.pyc
stimulus_generation/src/__pycache__/landmarks.cpython-310.pyc
stimulus_generation/src/__pycache__/morph.cpython-310.pyc
stimulus_generation/tests/__pycache__/test_align.cpython-310-pytest-9.0.3.pyc
stimulus_generation/src/__pycache__/masks.cpython-310.pyc
stimulus_generation/src/__pycache__/qc.cpython-310.pyc
stimulus_generation/src/__pycache__/sunglasses.cpython-310.pyc
stimulus_generation/src/__pycache__/validate.cpython-310.pyc
stimulus_generation/tests/__pycache__/test_morph.cpython-310-pytest-9.0.3.pyc
stimulus_generation/tests/__pycache__/test_shine.cpython-310-pytest-9.0.3.pyc
stimulus_generation/raw_faces/*.*
stimulus_generation/raw_faces/sub-001/Other.jpg
stimulus_generation/raw_faces/sub-001/Self.jpg
